@import "common.css";
@import "aside.css";
@import "header.css";
@import "footer.css";
@import "contents.css";
@import "more_page.css";
@import "post.css";
@import "basket.css";
@import "create.css";

@media screen and (min-width: 769px) {
  .blank {
    height: 1000px;
    width: 100%;
  }

  .btn-sizing {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    border-radius: 100%;
    background: rgb(126, 116, 103);
    color: #fff;
    transition: 0.2s;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  }

  /* INDEX-lIST */
  .view-icon {
    padding: 5px 10px;
    background: #f5f5f5;
    border: 1px solid #eee;
    cursor: pointer;
    transition: 0.2s;
  }
  .view-icon:hover {
    background: #fff;
    border: 1px solid #aaa;
  }
  .view-icon:active {
    background: #ccc;
  }

  .gs-inner .view-change .view-icon-small {
    display: none;
  }
  .gs-inner.view-flex-ch .view-change .view-icon-big {
    display: none;
  }
  .gs-inner.view-flex-ch .view-change .view-icon-small {
    display: block;
  }

  .best-li-box {
    display: flex;
    flex-wrap: wrap;
  }
  .no-result{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  .best-li-box > li {
    min-width: 200px;
    max-width: 25%;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 0 #999;
    transform: translate(0px, 0px);
    transition: 0.2s;
  }
  .best-li-box > li:hover {
    box-shadow: 5px 5px 10px #999;
    transform: translate(-5px, -5px);
  }
  .best-li-box > li a {
    position: absolute;
    top: 0;
    left: 0;
  }
  .best-li-box > li .li-img {
    position: relative;
    overflow: hidden;
  }
  .li-img .li-slide-box {
    position: absolute;
    height: 50px;
    bottom: -100%;
    left: 0;
    transition: 0.2s;
    background: #000000;
  }
  .best-li-box > li .li-img:hover .li-slide-box {
    transition: 0.2s;
    bottom: 0px;
  }

  .view-flex-ch .best-li-box {
    display: flex;
    flex-wrap: wrap;
  }
  .view-flex-ch .best-li-box > li {
    width: 50%;
    max-width: 100%;
  }

  .li-img .li-slide-box .li-slide {
    color: #fff;
    font-weight: bold;
    margin-top: 12.5px;
  }

  .li-img .li-slide-box .li-slide a {
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;
  }
  .li-txt {
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
  }
  .li-txt:hover .li-name {
    text-decoration: underline;
  }
  .li-name {
    font-weight: bold;
    font-size: 1.3em;
    margin: auto;
  }
  .li-price {
    margin: auto;
    color: rgb(194, 26, 26);
  }
  .li-icon {
    margin: auto;
  }

  .main-best::after {
    content: "추천";
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(212, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
  }
  .main-new::after {
    content: "신상";
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 123, 0, 0.8);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
  }
  .main-soldout::after {
    content: "품절";
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(153, 153, 153, 0.8);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
  }
  .main-soldout .li-slide-box {
    display: none;
  }
  .main-soldout .li-img::before {
    content: "매진";
    text-align: center;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding-top: calc(60% - 6vw);
    font-size: calc(6vw - 1em);
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
  }

  /* LOGIN */
  .img-frame {
    margin: 50px auto;
  }
  .img-frame .img {
    width: auto;
    box-shadow: 0 0 5px #ccc;
  }
  .form-login form > * {
    padding: 10px;
  }
  .form-login [type="submit"]:hover {
    background: #fff;
  }
  .form-login .login-title {
    margin-top: 100px;
  }

  /* MAPTEXT */
  .map-frame {
    height: 500px;
  }
  .map-text-frame li {
    display: flex;
  }
  .map-text-frame li div.map-title {
    width: 120px;
    font-weight: bold;
  }
}
/* ■■■■■■■■■■■■■■■■■■■ 기본 ■■■■■■■■■■■■■■■■■■ */
@media screen and (max-width: 768px) {
  .blank {
    height: 1000px;
    width: 100%;
  }

  .btn-sizing {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    border-radius: 100%;
    background: rgb(126, 116, 103);
    color: #fff;
    transition: 0.2s;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  }

  /* INDEX-lIST */
  .no-result{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  .best-li-box > li {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 0 #999;
    transform: translate(0px, 0px);
    transition: 0.2s;
  }
  .best-li-box > li a {
    position: absolute;
    top: 0;
    left: 0;
  }
  .best-li-box > li .li-img {
    position: relative;
    overflow: hidden;
  }

  .view-flex-ch .best-li-box {
    display: flex;
    flex-wrap: wrap;
  }
  .view-flex-ch .best-li-box > li {
    max-width: 50%;
  }

  .li-img .li-slide-box {
    display: none;
  }

  .view-icon {
    padding: 2px 5px;
    background: #f5f5f5;
    border: 1px solid #eee;
    cursor: pointer;
  }
  .gs-inner .view-change .view-icon-big {
    display: none;
  }
  .gs-inner.view-flex-ch .view-change .view-icon-small {
    display: none;
  }
  .gs-inner.view-flex-ch .view-change .view-icon-big {
    display: block;
  }

  .li-txt {
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
  }
  .li-txt:hover .li-name {
    text-decoration: underline;
  }
  .li-name {
    font-weight: bold;
    font-size: 1.3em;
    margin: auto;
  }
  .li-price {
    margin: auto;
    color: rgb(194, 26, 26);
  }
  .li-icon {
    margin: auto;
  }

  .main-best::after {
    content: "추천";
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(212, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 15px;
  }
  .main-new::after {
    content: "신상";
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 123, 0, 0.8);
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 15px;
  }
  .main-soldout::after {
    content: "품절";
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(153, 153, 153, 0.8);
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 15px;
  }
  .main-soldout .li-slide-box {
    display: none;
  }
  .main-soldout .li-img::before {
    content: "매진";
    text-align: center;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    font-size: 3em;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
  }
  .view-flex-ch .main-soldout .li-img::before {
    content: "매진";
    text-align: center;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    font-size: 3em;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
  }

  /* LOGIN */
  .img-frame {
    margin: 50px auto;
  }
  .img-frame .img {
    box-shadow: 0 0 5px #ccc;
  }
  .form-login form {
    width: 95%;
    margin: auto auto 50px;
  }
  .form-login form > * {
    padding: 10px;
  }
  .form-login .my-box li {
    margin: 0 10px;
  }

  /* MAPTEXT */
  .map-frame {
    height: 300px;
  }
  .map-text-frame {
    width: 95%;
    margin: auto;
  }
  .map-text-frame li {
    display: flex;
  }
  .map-text-frame li div.map-title {
    min-width: 120px;
    font-weight: bold;
  }
  .data-left {
    border-bottom: #999 0.1px solid;
    padding: 10px 0;
  }
  .data-right {
    padding: 10px 0;
  }
}
